<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Project name:</b>
  <%= @user.project_name %>
</p>

<p>
  <b>Company name:</b>
  <%= @user.company_name %>
</p>

<p>
  <b>Is activated:</b>
  <%= @user.is_activated %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
